@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@400;600;700&display=swap');

html,
body,
#root,
.PlattformPage,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track:hover {
  background: #555;
}

/* global/theme/theme.css */

.PlattformPage {
  display: flex;
}

.PlattformPage main.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden; /* Prevents main content from overflowing */
}

.main-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  flex: 1; /* Ensures it takes the remaining space */
  box-sizing: border-box;
}
